{{define "projects/start_stop_session.partial.html"}}
<section class="flex flex-col grow" id="start-stop-session">
  <span class="my-auto">
    <p class="text-3xl text-center">{{.Translation.TimerLabel}}</p>
    <p data-controller="timer" data-duration="{{.Duration}}" data-is-in-progress="{{if .IsInProgress}}true{{else}}false{{end}}" class="text-9xl text-center">{{.Duration}}</p>
  </span>
  <button 
  hx-post="/projects/{{.ProjectID}}/sessions/{{if .IsInProgress}}stop{{else}}start{{end}}"
  hx-target="#start-stop-session"
  hx-swap="outerHTML"
  type="submit" 
  class="text-2xl border-2 {{if .IsInProgress}} bg-red-600 {{else}} bg-emerald-600 {{end}} text-white rounded-lg text-center py-4 flex flex-col">
  {{if .IsInProgress}} Stop {{else}} Start {{end}}
  </button>
</section>
{{end}}

